a:link {
    color: red;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:visited{
    color:#e27f24;
    text-decoration: none;
}

a:active{
    color: red;
    text-decoration: underline;
}


.Beige{
    color: #e27f24;
}

.Red{
    color:rgb(204 0 0);
}

*{
    background-color: beige;
    
}

img{
    float: right;
    margin: 0;
}

header h1, header h2, header nav {
    text-align: center;
    display: inline-block;
    margin-left: 39%;
}

fieldset{
    border-radius: 10px;
    color:#e27f24;

}




