.personal{
    background-color:rgb(144, 144, 207);
    color: white;
}

.contacto{
    background-color: #e27f24;
}

.cuenta{
    background-color:rgb(144, 144, 207);
    color: white;
}

.preferencias{
    background-color: #e27f24;
}